services:
  frontend:
    build: .
    container_name: solid_dataspace_manager_frontend
    volumes:
      - ./:/app:delegated
      - /app/node_modules
    stdin_open: true
    environment:
      - REACT_APP_OIDC_ISSUER=https://solidcommunity.net
      - PORT=3001
    tty: true
    ports:
      - "${FRONTEND_PORT:-3001}:3001"
